#overall-wrapper{
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

#main-nav{
    color: white;
    background-color: #03045e;
}

th,tr{
    text-align: center;
}

table{
  
    border-radius: 0.5rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#main-nav a{
    color: white;
    font-weight: bold;
}


#main-nav a:hover{
    color: rgb(185, 181, 181);
    transition: ease-in;
    border-radius: 0.5rem;
    font-weight: bold;
}
#content-wrap{
    height: 100%;
    background-color: #bde0fe;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#loginIndex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    
    
}



.fa-user{
    color: white;
    padding: 1rem;
    background-color:#03045e ;
    border-radius: 50%;
    align-self: center;
    justify-self: center;
    font-size: 1.5rem;
    
    
}